<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="P_WEDLC"
		 connectionString="datasource=192.168.0.13;uid=gustavo;password=Gustavo12345!;database=clinica"
		 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>	
	
</configuration>